page-login {
  .login{
    //background-color: color($colors, theme-1, base);
  }
  .login-button{
    background-color: color($colors, theme-1, base);
  }
  .login-button:hover{
    color: color($colors, theme-1, base);
    background-color:  transparent !important;
    border: 2px solid color($colors, theme-1, base);
  }
  .facebook-auth-button:hover{
    color: color($colors, primary, base);
    background-color:  transparent !important;
    border: 2px solid color($colors, primary, base);
  }
  .forgot-button{
    color: color($colors, theme-1, base);
  }
  img{
    border-radius: 100%;
  }
  #img1 {
    background-color : transparent !important;
  }
}
