<ion-tabs color="theme-1" id="root-nav">
    <ion-tab tabIcon="md-appstore" [root]="tab1"></ion-tab>
    <ion-tab tabIcon="cart" [root]="tab2"></ion-tab>
    <ion-tab tabIcon="chatbubbles" [root]="tab3"></ion-tab>
    <ion-tab tabIcon="contact" [root]="tab4"></ion-tab>
  </ion-tabs>`
