page-profile {
  .photo-backgound{
    background-color: color($colors, theme-1, base);
    height: 25%;
  }
  .profile-label{
    color: color($colors, theme-1, base) !important;
  }
  #imgProfile {
    background-color : transparent !important;
  }
  .btnSave{
    height: 35px !important;
    font-size: 2rem !important;
  }

}
