<!--ion-header>
  <ion-toolbar color="theme-1">
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content text-center>
  <ion-grid class="photo-backgound">
    <ion-row>
      <ion-col col-12>
        <ion-img id="imgProfile" style="contain:none!important;" src="{{ this.img }}"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="settingsForm" class="settings-form">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
            <ion-list inset>
              <ion-item>
                <ion-label class="profile-label" stacked> <ion-icon name="md-person" item-start></ion-icon>Nombre</ion-label>
                <ion-input type="text" formControlName="name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label class="profile-label" stacked> <ion-icon name="ios-person" item-start></ion-icon>Apellidos</ion-label>
                <ion-input type="text" formControlName="surnames"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label class="profile-label" stacked> <ion-icon name="mail" item-start></ion-icon>E-mail</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label class="profile-label" stacked> <ion-icon name="ionitron" item-start></ion-icon>Alias</ion-label>
                <ion-input type="text" formControlName="nickname"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label class="profile-label" stacked> <ion-icon name="call" item-start></ion-icon>Teléfono</ion-label>
                <ion-input type="text" formControlName="phone"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label class="profile-label" stacked> <ion-icon name="calendar" item-start></ion-icon>Cumpleaños</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" formControlName="birthday"></ion-datetime>
              </ion-item>
            </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-list>
            <ion-item>
              <ion-card>
                <ion-card-content>
                  <ion-list>
                      <button ion-item (click)="genderAction()">
                        <ion-icon name="body" item-start color="theme-1"></ion-icon>
                        Género
                      </button>
                      <button ion-item (click)="timezoneAction()">
                        <ion-icon name="time" item-start color="theme-1"></ion-icon>
                        Zona horaria
                      </button>
                    </ion-list>
                </ion-card-content>
              </ion-card>
            </ion-item>
            <ion-item>
              <ion-toggle (ionChange)="newsletterAction()" formControlName="newsletter" checked="{{ this.identity.newsletter }}"></ion-toggle>
              <ion-label>
                 Notificaciones
              </ion-label>
               <ion-icon name='notifications' item-start color="theme-1"></ion-icon>
            </ion-item>
            <ion-item id="buttonSave" [hidden]="!settingsForm.dirty">
              <button ion-button (click)="saveData()" block round outline color="theme-1" class="btnSave">
                Guardar
              </button>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
