<!--<ion-header>
  <ion-toolbar color="theme-1">
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
  <button  ion-button  block color="secondary" (click)="logout()" outline>
    Salir
  </button>
</ion-content>
