<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="theme-1">
      <ion-title>Paginas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
          <button ion-item menuClose *ngFor="let p of pages" (click)="openPage( p.component )">
            <ion-icon name="{{ p.icon }}"></ion-icon> {{p.title}}
          </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>
