<ion-header>
  <ion-navbar color="theme-1">
    <ion-title>Regístrate en Taimingo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>
  <form class="signup-form auth-form" [formGroup]="signupForm" (ngSubmit)="doSignup()">
    <ion-item>
      <ion-input type="text" placeholder="Nombre de usuario" formControlName="nickname" id="nameInput"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Contraseña</ion-label>
      <ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
    </ion-item>
    <ion-item padding-top>
      <ion-label stacked>Datos de contacto</ion-label>
      <ion-input type="text" placeholder="Nombre" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Apellido paterno" formControlName="lastname1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Apellido materno" formControlName="lastname2"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Celular</ion-label>
      <ion-input type="text" placeholder="Celular" formControlName="phone"></ion-input>
    </ion-item>
    <ion-item padding-bottom>
      <ion-label stacked>Email</ion-label>
      <ion-input type="email" placeholder="correo electronico" formControlName="email"></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col col-1>
        </ion-col>
        <ion-col col-10>
          <button ion-button block class="signup-button" type="submit" [disabled]="!signupForm.valid">Registrate</button>
        </ion-col>
        <ion-col col-1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
