page-singup {
    .item {
        color:  #009999;
    }
    .item-md {
        color:  #009999;
    }
    #nameInput{
      font-size: 2em;
    }
    .signup-button{
      background-color: color($colors, theme-2, base);
    }
}
